<li>{{comment.author}} {{comment.date}} {{comment.content}}<span class="clickable text-danger" {{action 'delete' comment}}>x</span></li>


<!-- <li>{{'comment' comment.id}} {{comment.content}}</li> -->
